@media only screen and (max-height: 350px) {
    #skills-text {
      line-height: 1.3;
      font-size: 0.5vh;
    }
    .portfolio-container-inner > div img {
      height: 15.7vw;
    }

    #name {
      margin: 1px;
      height: 5px;
    }
  
    #email {
      margin: 1px;
      height: 5px;
    }
  
    #message {
      margin: 1px;
      height: 5px;
    }
  
    #submit-button {
      margin: 1px;
      height: 20px;
    }
  }