html {
  overflow: none;
}

#logo {
  height: 45px;
  width: 39px;
  display: -ms-grid;
  display: grid;
}

.logo a:hover {
  border-bottom: none !important;
}

#logo:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-bottom: none !important;
}

#navbar {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 75px;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 5;
}

#navbar ul {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 10px;
}

#navbar li {
  height: 45px;
  float: left;
  margin-right: 45px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar li a {
  display: block;
  color: #fff;
  text-decoration: none;
}

#navbar li a:hover {
  border-bottom: solid 2px;
  padding-bottom: 2px;
  color: #e5446d;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#nav-outer {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  background: #000002;
  z-index: 5;
}

#navcontents {
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 100%;
  -ms-grid-columns: 1.869225fr 1fr;
      grid-template-columns: 1.869225fr 1fr;
  -ms-grid-row: 1;
  grid-row: 1fr;
}

#social-container {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}

#social-container ul {
  width: auto;
}

#social-container li {
  margin-right: 0;
  margin-left: 45px;
}

#social-container img {
  height: 20px;
  width: 20px;
}

#social-container li a:hover {
  border-bottom: none !important;
}

#mobilemenubutton .icon {
  display: none;
}

#mobilemenubutton .icon a {
  display: none;
  color: #ccc;
}

@media only screen and (max-width: 785px) {
  #navbar {
    display: none;
    opacity: 0;
    margin: 0px;
    width: 100vw;
    left: 100vw;
    z-index: 500;
  }
  #nav-outer {
    background: #000002;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  #navcontents {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: grid;
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
    background: #000002;
    opacity: 0;
    z-index: 500;
    margin: 0;
    padding: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  ul {
    display: -ms-grid;
    display: block;
    width: 150px;
    height: 100% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  li {
    font-size: 24px;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    height: auto;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    color: #ccc;
  }
  #link-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    height: auto;
    margin: 0;
  }
  #navbar {
    display: none;
  }
  #mobilemenubutton .icon {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 550;
    color: #ccc;
  }
  #social-container {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    width: 100%;
  }
  #social-container ul {
    width: 30px !important;
    min-height: 100% !important;
  }
  #social-container li {
    width: 30px !important;
    height: 20px !important;
    margin: 30px;
    margin-left: 0;
    margin-right: 0;
  }
  #social-container img {
    height: 30px;
    width: 30px;
  }
}
/*# sourceMappingURL=menu.css.map */