#portfolio {
  background: #F4F5F7;
  height: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#portfolio-title {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#portfolio-title h2 {
  width: auto;
}

#portfolio-card {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio-carousel {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  max-width: 50vw;
  width: 100%;
  height: 100%;
}

.portfolio-carousel div {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  height: 500px;
  padding: 0;
  margin: 0;
}

.portfolio-carousel div h3 {
  text-align: center;
  color: black;
  width: 100%;
  height: 100%;
}

.js .slider-single > div:nth-child(1n + 2) {
  display: none;
}

.js .slider-single.slick-initialized > div:nth-child(1n + 2) {
  display: block;
}

#page {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  height: auto;
  width: 80vw;
  max-width: 800px;
  margin-bottom: 30px;
}

.slider-single {
  display: -ms-grid !important;
  display: grid !important;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  width: 100%;
  margin-bottom: 15px;
}

.slider-single div {
  display: block !important;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  width: 100%;
}

.slider-single div img {
  height: auto;
  max-width: 800px;
  width: 100%;
}

.slider-single h3 {
  line-height: 10rem;
}

.slider-nav div {
  height: 100%;
  -webkit-transition: none;
  transition: none;
}

.slider-nav div img {
  height: auto;
  width: 100%;
}

.slider-nav h3::before {
  content: "";
  display: block;
  padding-top: 75%;
}

.slider-nav h3 span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider-nav .slick-slide {
  cursor: pointer;
}

.slick-slide.is-active h3 {
  color: #c00;
  background-color: #fff;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
/*# sourceMappingURL=portfolio.css.map */