html {
  overflow: none;
}

#logo {
  height: 45px;
  width: 39px;
  display: -ms-grid;
  display: grid;
}

.logo a:hover {
  border-bottom: none !important;
}

#logo:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-bottom: none !important;
}

#navbar {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 75px;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 5;
}

#navbar ul {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 10px;
}

#navbar li {
  height: 45px;
  float: left;
  margin-right: 45px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar li a {
  display: block;
  color: #fff;
  text-decoration: none;
}

#navbar li a:hover {
  border-bottom: solid 2px;
  padding-bottom: 2px;
  color: #e5446d;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#nav-outer {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  background: #000002;
  z-index: 5;
}

#navcontents {
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 100%;
  -ms-grid-columns: 1.869225fr 1fr;
      grid-template-columns: 1.869225fr 1fr;
  -ms-grid-row: 1;
  grid-row: 1fr;
}

#social-container {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}

#social-container ul {
  width: auto;
}

#social-container li {
  margin-right: 0;
  margin-left: 45px;
}

#social-container img {
  height: 20px;
  width: 20px;
}

#social-container li a:hover {
  border-bottom: none !important;
}

#mobilemenubutton .icon {
  display: none;
}

#mobilemenubutton .icon a {
  display: none;
  color: #ccc;
}

@media only screen and (max-width: 785px) {
  #navbar {
    display: none;
    opacity: 0;
    margin: 0px;
    width: 100vw;
    left: 100vw;
    z-index: 500;
  }
  #nav-outer {
    background: #000002;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  #navcontents {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: grid;
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
    background: #000002;
    opacity: 0;
    z-index: 500;
    margin: 0;
    padding: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  ul {
    display: -ms-grid;
    display: block;
    width: 150px;
    height: 100% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  li {
    font-size: 24px;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    height: auto;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    color: #ccc;
  }
  #link-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    height: auto;
    margin: 0;
  }
  #navbar {
    display: none;
  }
  #mobilemenubutton .icon {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 550;
    color: #ccc;
  }
  #social-container {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    width: 100%;
  }
  #social-container ul {
    width: 30px !important;
    min-height: 100% !important;
  }
  #social-container li {
    width: 30px !important;
    height: 20px !important;
    margin: 30px;
    margin-left: 0;
    margin-right: 0;
  }
  #social-container img {
    height: 30px;
    width: 30px;
  }
}

#welcome-section {
  display: -ms-grid;
  display: grid;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(/img/bg.jpg) #000002;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
}

#welcome-background {
  background: rgba(0, 0, 2, 0);
  height: 100vh;
  width: 100vw;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -ms-grid;
  display: grid;
}

#intro-message {
  margin-left: 54px;
  border-left: solid white 7px;
  padding-left: 18px;
  color: white;
}

#intro-message h1 {
  width: 60vw;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: 400;
}

#intro-message h1 b {
  font-weight: 500;
}

#intro-message h1 .highlight-text {
  color: #e5446d;
}

span.line {
  display: inline-block;
}

#about-text p {
  margin-top: 0px;
}

@media only screen and (max-height: 700px) {
  #intro-message h1 {
    width: 60vw;
    font-size: 35px;
  }
}

@media only screen and (max-height: 500px) {
  #welcome-background {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 2, 0.75)), to(rgba(0, 0, 2, 0.25)));
    background-image: linear-gradient(to right, rgba(0, 0, 2, 0.75), rgba(0, 0, 2, 0.25));
  }
  #intro-message h1 {
    width: 60vw;
    font-size: 30px;
  }
}

@media only screen and (max-width: 750px) {
  #intro-message {
    margin-left: 15px;
  }
}

#about {
  height: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
}

#about-container {
  height: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#about-card {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: auto;
  width: auto;
  margin: 30px 30px 30px 30px;
  background: #fff;
  color: #444;
  -webkit-box-shadow: 2px 2px 4px #666;
          box-shadow: 2px 2px 4px #666;
}

#about-card div {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-card H2,
#about-card h3 {
  text-align: center;
}

#profile-pic {
  border-radius: 500px;
  width: 200px;
  height: 200px;
  margin: 30px;
}

#about-text {
  max-width: 485px;
  padding: 30px;
  padding-top: 0;
}

#about-download-cv {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
}

#about-download-cv a {
  text-decoration: none;
  color: #444;
}

#pdf-logo {
  border-radius: 500px;
  width: 55px;
  height: auto;
}

#pdf-logo:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-bottom: none !important;
}

#pdf-download-text:hover {
  color: black;
}

#skills {
  background: #fff;
  height: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skills-card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: auto;
  margin: 30px 30px 30px 30px;
  background: #fff;
  color: #444;
  -webkit-box-shadow: 2px 2px 4px #666;
          box-shadow: 2px 2px 4px #666;
}

#skills-card div {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skills-card H2,
#skills-card h3 {
  text-align: center;
}

#skills-card-inner {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

#skills-card-text {
  padding: 30px;
  padding-top: 0;
}

#skills-card-text ul {
  list-style-type: square;
  padding-left: 32px;
  padding-bottom: 0;
  padding-top: 0;
}

#skills-card-text li {
  padding-bottom: 15px;
}

#skills-card-badges {
  width: 100%;
  height: 100%;
}

.skills-container-inner {
  width: 40vw;
  height: 100%;
  display: -ms-grid;
  display: grid;
}

.myProgress {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
  width: 300px;
  background-color: #F1F1F1;
  background: repeating-linear-gradient(-45deg, #F1F1F1, #F1F1F1 10px, #E8E8E8 10px, #E8E8E8 20px);
  border: solid 1px;
  border-color: #E2E2E2;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 12px;
}

#my-progress-last {
  margin-bottom: 30px;
}

.myBar {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: end !important;
  width: 1px;
  -webkit-transition: width 1s;
  transition: width 1s;
  height: 22px;
  background-color: rgba(0, 166, 20, 0.75);
  border-radius: 20px 0px 0px 20px;
}

.myBar img {
  width: 35px !important;
  height: 35px !important;
  margin-right: -17.5px;
}

.progress-skill-title {
  position: absolute;
  color: #fff;
  margin-top: 3px;
  margin-left: 15px;
}

@media only screen and (max-width: 1000px) {
  #about-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
  }
  #about-card {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #skills-card {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

#portfolio {
  background: #F4F5F7;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  overflow: none;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#portfolio-title {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#portfolio-title h2 {
  width: auto;
}

#portfolio-card {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio-carousel {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  max-width: 50vw;
  width: 100%;
  height: 100%;
}

.portfolio-carousel div {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  height: 500px;
  padding: 0;
  margin: 0;
}

.portfolio-carousel div h3 {
  text-align: center;
  color: black;
  width: 100%;
  height: 100%;
}

.js .slider-single > div:nth-child(1n + 2) {
  display: none;
}

.js .slider-single.slick-initialized > div:nth-child(1n + 2) {
  display: block;
}

#page {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  height: auto;
  width: 80vw;
  max-width: 800px;
  margin-bottom: 30px;
}

.slider-single {
  -ms-flex-line-pack: center !important;
      align-content: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  margin-bottom: 15px;
  max-height: 450px;
  max-width: 800px;
  display: table !important;
  table-layout: fixed !important;
  width: 100% !important;
  -webkit-box-shadow: 2px 2px 4px #666;
          box-shadow: 2px 2px 4px #666;
}

.slider-single div {
  display: block !important;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  width: 100%;
  height: 100%;
}

.slider-single div img {
  height: auto;
  max-height: 450px;
  max-width: 800px;
  width: 80vw;
}

.slider-single h3 {
  line-height: 10rem;
}

.slider-nav div {
  height: 100%;
  -webkit-box-shadow: 2px 2px 4px #666;
          box-shadow: 2px 2px 4px #666;
}

.slider-nav div img {
  height: auto;
  width: 100%;
}

.slider-nav h3::before {
  content: "";
  display: block;
  padding-top: 75%;
}

.slider-nav h3 span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider-nav .slick-slide {
  cursor: pointer;
}

.slick-slide.is-active h3 {
  color: #c00;
  background-color: #fff;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

#contact {
  position: relative;
  height: auto;
  background: #252934;
  color: #fff;
  padding: 0 0;
}

#contact h2 {
  color: #fff;
  width: auto;
}

#contact-container {
  background-color: #252934;
  padding: 0;
}

#contact > div {
  margin: 0;
}

#contact-title {
  padding-top: 30px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#contact-text {
  margin: 0;
  width: auto;
}

#contact-text p {
  margin: 30px;
  margin-top: 0;
  width: auto;
}

#contact-form {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

#name {
  width: 500px;
  padding: 10px;
  margin: 5px;
  margin-top: 0;
  height: 18px;
  border-radius: 3px;
  border-style: none;
  background: #1e242d;
  border-width: 1px;
  font-size: 16px;
  color: #fff;
}

#email {
  width: 500px;
  padding: 10px;
  margin: 5px;
  height: 18px;
  border-radius: 3px;
  border-style: none;
  background: #1e242d;
  border-width: 1px;
  font-size: 16px;
  color: #fff;
}

#message {
  width: 500px;
  vertical-align: top;
  padding: 10px 10px 130px 10px;
  margin: 5px;
  height: 10px;
  border-radius: 3px;
  border-style: none;
  background: #1e242d;
  border-width: 1px;
  font-size: 16px;
  color: #fff;
}

#submit-button {
  color: #fff;
  background: #5ad07d;
  width: 100px;
  height: 38px;
  margin: 5px;
  margin-bottom: 60px;
  border-radius: 3px;
  border-style: none;
  font-size: 16px;
}

#submit-button:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #1e242d inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

@media only screen and (max-width: 500px) {
  #name {
    width: 80vw;
  }
  #email {
    width: 80vw;
  }
  #message {
    width: 80vw;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  background: #000002;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

h2 {
  font-size: 40px;
  border-bottom: solid 3px;
  padding-bottom: 10px;
  margin: 30px;
  color: #444;
  text-align: center;
}

h3 {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  color: #444;
}

footer {
  position: relative;
  height: 75px;
  width: 100vw;
  background: #000002;
}

#copyright {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}

#copyright p {
  height: auto;
}

.colour-border {
  width: 100vw;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#5d5882), to(#e5446d));
  background-image: linear-gradient(to right, #5d5882, #e5446d);
}

#clip-path1 {
  height: 30px;
  width: 100vw;
  background: #f4f5f7;
}

#clip-path-inner1 {
  height: 30px;
  width: 100vw;
  background: #fff;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

#clip-path2 {
  height: 30px;
  width: 100vw;
  background: #252934;
}

#clip-path-inner2 {
  height: 30px;
  width: 100vw;
  background: #f4f5f7;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  -webkit-transform: translateY(-0.3px);
          transform: translateY(-0.3px);
}

a.anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}

@media only screen and (max-width: 780px) {
  a.anchor {
    top: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */