@import "menu", "welcome", "about", "skills", "portfolio", "contact";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  background: #000002;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

h2 {
  font-size: 40px;
  border-bottom: solid 3px;
  padding-bottom: 10px;
  margin: 30px;
  color: #444;
  text-align: center;
}

h3 {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  color: #444;
}

footer {
  position: relative;
  height: 75px;
  width: 100vw;
  background: #000002;
}

#copyright {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
  p {
    height: auto;
  }
}

.colour-border {
  width: 100vw;
  height: 3px;
  background-image: linear-gradient(to right, #5d5882, #e5446d);
}

#clip-path1 {
  height: 30px;
  width: 100vw;
  background: #f4f5f7;
}

#clip-path-inner1 {
  height: 30px;
  width: 100vw;
  background: #fff;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

#clip-path2 {
  height: 30px;
  width: 100vw;
  background: #252934;
}

#clip-path-inner2 {
  height: 30px;
  width: 100vw;
  background: #f4f5f7;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  transform: translateY(-0.3px);
}

a.anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}

@media only screen and (max-width: 750px) {
  a.anchor {
    top: 0px;
  }
}
