#navbar {
    position: fixed;
    top: 0px;
    background: white;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  
  #navcontents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    background: #77bbff;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #000;
    background: #77bbff;
    padding: 13px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: white;
    background: #222222;
    text-decoration: none;
  }
  
  h1 {
    color: #ffffff;
  }
  
  p {
    color: #cccccc;
  }
  
  #welcome-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #444444;
    color: #ffffff;
  }
  
  #projects {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #ffffff;
  }
  
  #aboutme {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dddddd;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 80vw;
    justify-content: center;
  }
  
  .flex-container > div {
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 100%;
    font-size: 30px;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  @media only screen and (max-width: 600px) {
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      width: 80vw;
      justify-content: center;
    }
  
    #projects {
      height: 100%;
      display: flex;
      justify-content: center;
      background: #ccccff;
    }
  }
  