
html {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

body {
  font-family: 'Montserrat';
  background: #5C5757;
}
main {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
}
#navbar {
  display: block;
  position: fixed;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
#navcontents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 54px;
  border: solid #5a6478;
  border-width: 0;
  margin: 0;
  padding: 0;
}
ul {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
  margin: 0;
  font-size: 2.3vh;
}
li a {
  display: block;
  color: #fff;
  padding: 13px 16px;
  text-decoration: none;
  border-width: 2px;
  width: 80px;
  text-align: center;
}
li a:hover {
  display: block;
  text-decoration: none;
  border: solid #fff;
  border-width: 2px;
}
h1 {
  color: #fff;
  font-size: 6vh;
  font-weight: 500;
}
h2 {
  color: #000;
  font-size: 4vh;
  font-weight: 500;
}
p {
  color: #ccc;
  font-size: 2vh;
}
.top {
  position: absolute;
  padding: 0;
  top: 0;
  width: 100vw;
  bottom: -10vh;
  display: block;
  z-index: 2;
  height: 10vh;
}
#welcome-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0;
}

#welcome-section p{
  color: #BACEE0;
  font-size: 3vh;
}

div.a {
  margin: -3.7vh;
}

#skills {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}
#projects {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #544e60;
  color: #fff;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  padding: 0 0;
}
#projects > div {
  width: 80vw;
  display: block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  justify-content: center;
  height: 70vh;
  grid-column: auto;
}
#projects > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  grid-column: auto;
  margin: 0;
  text-align: center;
  flex: 50%;
  height: 70vh;
}
#projects h2 {
  color: #fff;
}
#aboutme {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  padding: 0 0;
}
#aboutme > div {
  padding: 5vh;
}
footer {
  position: absolute;
  padding: 0;
  top: 390vh;
  width: 100vw;
  bottom: -10vh;
  display: block;
  z-index: 50;
  height: 10vh;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  height: 50vw;
  max-width: 70vw;
  max-height: 85vh;
  justify-content: center;
  grid-row: 2;
}
.flex-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 80vw;
}
.flex-container2 > div {
  height: 50%;
  width: auto;
  margin: auto;
  text-align: center;
  
}
.flex-container > div {
  width: auto;
  margin: 10px;
  text-align: center;
  flex: 50%;
  max-width: 100px;
}
.flex-container > div > p {
  color: #5a5a5a;
}
.flex-container > div > h2 {
  color: #333;
}
img {
  width: 15vw;
  height: 15vw;
  max-width: 130px;
  max-height: 130px;
  border-radius: 5%;
}
#skills > div > div img {
  width: 10vw;
  height: 10vw;
  max-width: 7vw;
  max-height: 7vw;
}
#mobilemenubutton .icon {
  display: none;
  color: #ccc;
}
#mobilemenubutton .icon a {
  display: none;
  color: #ccc;
}
@media only screen and (max-width: 600px) {
  .flex-container2 > div {
    height: 15vh;
    width: auto;
    margin: -80px 20px 0px 20px;
    text-align: center;
  }
  .flex-container2 > div img {
    height: 100%;
    width: auto;
    text-align: center;
  }

  #mobilemenubutton .icon {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
  }
  
  #navcontents {
    height: 100vh;
    width: 50vw;
    position: absolute;
    right: 0;
  }
  #navbar {
    display: none;
    height: 0;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
    height: 80vh;
    grid-column: auto;
  }
  .flex-container > div {
    width: 200px;
    height: 20vw;
    margin: 0;
    text-align: center;
    font-size: 30px;
    flex: 50%;
  }
  #skills > div > div img {
    height: 10vw;
    width: auto;
  }
}
