html {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

b {
  color: #000;
}

@keyframes bounce-effect {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.moving-arrow {
  display: inline-block;
  animation-name: bounce-effect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#video-container{
  position: absolute;
  z-index: -500;
  background-color:red;
}

#stars-video{
  background-color:red;
}

#overlay{
  position: absolute;
  z-index: -50;
  width: 100vw;
  height: 100vh;
  background-color:#5c5757;
  opacity: 0%;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

body {
  font-family: "Montserrat";
  background: #5c5757;
  margin-right: 0px;
  margin-left: 0px;
}

#navbar {
  display: block;
  position: fixed;
  top: -50px;
  width: 70vw;
  margin: 10px;
  z-index: 15;
}
/* the above is all useful CSS */
#navcontents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}
ul {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
li {
  float: left;
  margin: 0;
  font-size: 1.3vw;
  width: 9.5vw;
  
}
li a {
  display: block;
  color: #FFF;
  text-decoration: none;
  
}
li a:hover {
  text-decoration: underline;
  color: #bacee0;
}
h1 {
  color: #fff;
  font-size: 6vh;
  font-weight: 500;
}
h2 {
  color: #000;
  font-size: 5.5vh;
  font-weight: 500;
}
p {
  color: #5c5757;
  font-size: 2vh;
}

#welcome-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0;
}

#welcome-section p {
  color: #bacee0;
  font-size: 3vh;
}

div.a {
  margin: -3.7vh;
}

#down-arrow1 {
  position: absolute;
  bottom: 0px;
}

#down-arrow2 {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  text-align: center;
}

#down-arrow1 .icon {
  color: #fff;
}

#down-arrow2 .icon {
  color: #000;
}

#down-arrow3 .icon {
  color: #000;
}

#skills {
  height: 100vh;
  display: flex;
  background: #fff;
  color: #000;
}

#skills-text {
  width: 30vw;
}

#skills-container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#skills-left {
  margin: 14vh 10px 14vh 10px;
  height: 75vh;
  display: block;
}

#skills-left h2 {
  margin: 0px;
}

#skills-right {
  margin: 14vh 10px 14vh 10px;
  height: 75vh;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  height: 75vh;
  max-width: 100%;
  max-height: 100vh;
  grid-row: 2;
  justify-content: space-between;
}

.flex-container > div {
  width: auto;
  margin: 0px;
  text-align: center;
  flex: 33%;
}

#skills > div > div img {
  width: 5vw;
  height: 5vw;
  max-width: 7vw;
  max-height: 7vw;
}

#down-arrow3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  text-align: center;
}

#projects h2 {
  color: #fff;
}
#contact {
  height: 100vh;
  display: flex;
  align-items: top;
  justify-content: center;
  background: #fff;
  color: #000;
  padding: 0 0;
}
#contact > div {
  padding: 5vh;
}

#contact-form{
  display: grid;
  text-align: center;
}

#clip{
  background: #5c5757;
  height: 100px;
  position: absolute;
  left: 0px;
  bottom: 10vh;
  width: 100vw;
  -webkit-clip-path: polygon(0 100%, 0 50%, 50% 35%, 100% 50%, 100% 100%);
  z-index: 60;
}

footer {
  position: absolute;
  padding-bottom: 10px;
  width: 100vw;
  bottom: 0vh;
  left: 0px;
  display: block;
  z-index: 70;
  height: 12vh;
  background: #5c5757;
  border: none;
}

.flex-container2 {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 75vw;
  height: 60vh;
  grid-template-columns: 20vw 20vw 20vw;
  grid-template-rows: 20vh 20vh 20vh;
}
.flex-container2 > div {
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  margin: 0px;
}

.flex-container2 > div img {
  height: 100%;
  width: auto;
  text-align: center;
}

#portfolio {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #fff;
  padding: 0 0;
}

#portfolio > div {
  display: block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  height: 100vh;
  grid-column: auto;
}

#portfolio-container {
  display: grid;
  width: 100vw;
  height: 100vh;
}

#portfolio-container-project {
  height: 100vh;
  top: 0px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 25vh 50vh;
}

.flex-container > div > p {
  color: #5a5a5a;
}
.flex-container > div > h2 {
  color: #333;
}
img {
  width: 15vw;
  height: 15vw;
  max-width: 130px;
  max-height: 130px;
}

#mobilemenubutton .icon {
  display: none;
  color: #ccc;
}
#mobilemenubutton .icon a {
  display: none;
  color: #ccc;
}

#name{
  width: 230px;
  padding: 0px;
  margin: 2px;
}

#email{
  width: 230px;
  padding: 0px;
  margin: 2px;
}

#message{
  width: 230px;
  vertical-align: top;
  padding: 0px 0px 80px 0px;
  margin: 2px;
}

#submit-button{
  color: #FFF;
  background: #5AD07D;
  width: 100px;
  height: 25px;
  margin: 5px;
}

#link-pictures-container{
  display: grid;
  width: 100vw;
  justify-content: center;
}

#link-pictures{
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 5px;
}

#link-pictures img{
  width: 30px;
  height: auto;
}

#copright{
  text-align: center;
  font-weight: 100;
  font-size: 14px;
  color: #FFF;
  padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  #portfolio-container-project {
    height: 100vh;
    top: 0px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 10vh 75vh;
  }

  .flex-container2 > div img {
    height: auto;
    width: 100%;
  }

  #mobilemenubutton .icon {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
  }

  #navbar {
    display: block;
    position: fixed;
    top: -50px;
    width: 70vw;
    align-items: center;
    justify-content: center;
    z-index: 100;
    margin: 10px;
  }
  #navcontents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  #navcontents {
    height: 100vh;
    width: 100vw;
    position: absolute;
    right: 0;
    background: #5c5757;
  }
  #navbar {
    display: none;
    height: 0;
    margin: 0px;
    width: 100vw;
  }

  ul {
    display: grid;
    width: 100vw;
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  li {
    margin: 0;
    font-size: 5.3vw;
    width: 100vw;
    height: 25%;
    text-align: center;
  }

  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  #skills-container {
    display: flex;
    flex-direction: column;
  }

  #skills-left {
    width: 100vw;
    height: 50vh;
  }

  #skills-right {
    width: 100vw;
    height: 50vh;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
    height: 80vh;
    grid-column: auto;
  }
  .flex-container > div {
    width: 200px;
    height: 20vw;
    margin: 0;
    text-align: center;
    font-size: 10px;
    flex: 50%;
  }
  #skills > div > div img {
    height: 10vw;
    width: auto;
  }

  #skills-container {
    width: 100vw;
    height: 100vh; 
  }

  #skills-left {
    margin: 10px 10px 10px 10px;
    height: 50vh;
    display: block;
    width: 80vw;
  }

  #skills-right {
    margin: 0px 0px 20px 0px;
    height: 50vh;
    width: 80vw;
  }
  #skills-text {
    width: 80vw;
  }
  .flex-container > div {
    width: auto;
    margin: 0px;
    text-align: center;
    flex: 25%;
  }

  #skills > div > div img {
    width: 4vw;
    height: 4vw;
    max-width: 6vw;
    max-height: 6vw;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 75vh;
    max-width: 100%;
    max-height: 100%;
    grid-row: 2;
    justify-content: space-between;
  }
}
